/* Profiler */
.profiler .profiler-content {
  margin: 65px auto 100px;
}
.profiler .h3-title {
  margin: 0 auto;
  max-width: 440px;
}
.profiler .line-profiler {
  max-width: 215px;
}
.profiler .profiler-text {
  margin: 50px auto ;
  width: 100%;
  text-align: center;
  font-size: 15pt;
  font-weight: normal;
  font-style: normal;
  color: #727272;
}
.profiler .profiler-elments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.profiler .prof-elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  text-align: center;
  margin: 0 0 40px 0;
}
.profiler .img-prof_elem-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border: 7px solid #d4d4d4;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.profiler .img-prof_elem {
  display: block;
}
.profiler .text-prof_elem {
  width: 160px;
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
}
/* END Profiler */
