/* Webfont: HelveticaNeue */
@font-face {
  font-family: 'HelveticaNeue2';
  src: url('HelveticaNeue.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue.svg#HelveticaNeue') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-Bold */
@font-face {
  font-family: 'HelveticaNeue2';
  src: url('HelveticaNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-Bold.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-BoldItalic */
@font-face {
  font-family: 'HelveticaNeue2';
  src: url('HelveticaNeue-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-BoldItalic.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-CondensedBlack */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-CondensedBlack.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-CondensedBlack.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-CondensedBlack.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-CondensedBold */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-CondensedBold.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-CondensedBold.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-CondensedBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-Italic */
@font-face {
  font-family: 'HelveticaNeue2';
  src: url('HelveticaNeue-Italic.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-Italic.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-Light */
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('HelveticaNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-LightItalic */
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('HelveticaNeue-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-Medium */
@font-face {
  font-family: 'HelveticaNeueMed';
  src: url('HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-MediumItalic */
@font-face {
  font-family: 'HelveticaNeueMed';
  src: url('HelveticaNeue-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-MediumItalic.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-Thin */
@font-face {
  font-family: 'HelveticaNeueExtLt';
  src: url('HelveticaNeue-Thin.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-Thin.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-ThinItalic */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-ThinItalic.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-UltraLight */
@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('HelveticaNeue-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-UltraLight.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-UltraLight.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeue-UltraLightItalic */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-UltraLightItalic.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('HelveticaNeue-UltraLightItalic.woff') format('woff'), /* Modern Browsers */
  url('HelveticaNeue-UltraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

